.baslik {
    text-align: center;
    color: #02475e;
    font-size: 42px;
}
.navbar {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #f3bda1;
    font-size: 25px;
}
h2 {
    color: #02475e;
    margin-left: 5%;
}
h3 {
    color: #02475e;
    font-size: 30px;
    margin-left: 5%;
}
#img1 , #img2, #img3 {
    margin-left: 5%;
    height: 200px;
    width: 300px;
}
#img4, #img5 {
    margin-left: 5%;
}
p{
    color:#02475e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 3%;
    margin-right: 2%;
}
.mini {
    height: 350px;
    margin-left: 3%;
}
a {
    margin-left: 3%;
    font-style: italic;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#tablo {
    text-align: center; 
    margin-left: 10%;
}
